<%= form_for Book.new, :url => { :action => "create" } do |f| %>
<label>title</label>
<%= f.text_field :title %>
<br>
<label>description</label>
<%= f.text_field :desc %>
<%= f.submit "Submit" %>
<% end %>

